# ETCKEEPER

# Do not track anything by default
/**
!/.gitignore
!/.etckeeper

# X11: Get config overrides specific for sbp
!/X11
!/X11/xorg.conf.d
!/X11/xorg.conf.d/10-sbp**

# ACPI: Grab everything here
!/acpi
!/acpi/**

# AVAHI: (DONT) Grab services prefixed with sbp, and daemon settings
!/avahi
!/avahi/services
!/avahi/services/sbp*
!/avahi/avahi-daemon.conf

# BLUETOOTH: Grab config
!/bluetooth
!/bluetooth/sbp-**

# CONF.D: Grab some things
!/conf.d
!/conf.d/consolefont
!/conf.d/fluidsynth
!/conf.d/keymaps
!/conf.d/reflector
!/conf.d/snapper
!/conf.d/xdm

# CRON: Grab all these
!/cron.*
!/cron.*/**

# DEFAULT: Grab only some configs
!/default
!/default/earlyoom
!/default/tlp
!/default/useradd

# DHCPCD: Grab config and hooks
!/dhcpcd.conf
!/dhcpcd.enter-hook
!/dhcpcd.exit-hook

# DRACUT: Grab the dracut config
!/dracut.conf.d
!/dracut.conf.d/*.conf

# ETCKEEPER: Grab config; excluding the local config
!/etckeeper
!/etckeeper/etckeeper.conf
/etckeeper/local.conf

# Hooks to grab
!/etckeeper/commit.d
!/etckeeper/commit.d/*sbp*
!/etckeeper/init.d
!/etckeeper/init.d/*sbp*
!/etckeeper/list-installed.d
!/etckeeper/list-installed.d/*sbp*
!/etckeeper/post-install.d
!/etckeeper/post-install.d/*sbp*
!/etckeeper/pre-commit.d
!/etckeeper/pre-commit.d/*sbp*
!/etckeeper/pre-install.d
!/etckeeper/pre-install.d/*sbp*
!/etckeeper/unclean.d
!/etckeeper/unclean.d/*sbp*
!/etckeeper/uninit.d
!/etckeeper/uninit.d/*sbp*
!/etckeeper/update-ignore.d
!/etckeeper/update-ignore.d/*sbp*
!/etckeeper/vcs.d
!/etckeeper/vcs.d/*sbp*

# FIREWALLD: Grab config, and overrides
!/firewall
!/firewall/applet.conf
!/firewalld
!/firewalld/helpers
!/firewalld/helpers/*sbp*.xml
!/firewalld/icmptypes
!/firewalld/icmptypes/*sbp*.xml
!/firewalld/ipsets
!/firewalld/ipsets/*sbp*.xml
!/firewalld/services
!/firewalld/services/*sbp*.xml
!/firewalld/zones
!/firewalld/zones/*.xml
!/firewalld/firewalld.conf

# FONTS: Grab overrides THAT I PUT
!/fonts
!/fonts/local.conf
!/fonts/conf.avail
!/fonts/conf.avail/*sbp*.conf
!/fonts/conf.d
!/fonts/conf.d/*sbp*.conf

# GEOCLUE: Get config
!/geoclue
!/geoclue/geoclue.conf

# GREETD: Get all
!/greetd
!/greetd/*

# IWD: Grab config
!/iwd
!/iwd/main.conf

# KERNEL: Grab config
!/kernel
!/kernel/install.d
!/kernel/install.d/*

# LIBVIRT: Grab the configurations
!/libvirt
!/libvirt/libvirt-admin.conf
!/libvirt/libvirt.conf
!/libvirt/libvirtd.conf
!/libvirt/qemu.conf
!/libvirt/virtlogd.conf

# LOGROTATE.D: Grab things
!/logrotate.d
!/logrotate.d/*sbp*
!/logrotate.conf

# MODPROBE: Grab universal things
!/modprobe.d
!/modprobe.d/sbp*.conf
!/modules-load.d
!/modules-load.d/sbp*.conf

# NUT: Grab the ups config
!/nut
!/nut/sbp*.conf

# PACMAN: Grab config and user hooks
!/pacman.d
!/pacman.d/hooks
!/pacman.d/hooks/sbp*.hook
!/pacman.conf

# PIPEWIRE
!/pipewire
!/pipewire/client-rt.conf.d
!/pipewire/client-rt.conf.d/sbp-*.conf
!/pipewire/client.conf.d
!/pipewire/client.conf.d/sbp-*.conf
!/pipewire/jack.conf.d
!/pipewire/jack.conf.d/sbp-*.conf
!/pipewire/minimal.conf.d
!/pipewire/minimal.conf.d/sbp-*.conf
!/pipewire/pipewire-pulse.conf.d
!/pipewire/pipewire-pulse.conf.d/sbp-*.conf
!/pipewire/pipewire.conf.d
!/pipewire/pipewire.conf.d/sbp-*.conf

# POLKIT: Grab overrides
!/polkit
!/polkit/rules.d
!/polkit/rules.d/*sbp**
!/polkit-1
!/polkit-1/rules.d
!/polkit-1/rules.d/*sbp**

# PORTAGE: Grab all but the specific config file
!/portage
!/portage/Readme.md

# PROFILE: Grab all
!/profile
!/profile.d
!/profile.d/*.sh
!/profile.d/*.csh

# QTGREET: Grab all
!/qtgreet
!/qtgreet/*

# SKEL: Grab skel
!/skel
!/skel/**

# SNAP-PAC: Use the same configs for all computers
!/snap-pac
!/snap-pac/**
!/snap-pac.conf

# SNAPPER: Use the same configs for all computers
!/snapper
!/snapper/configs
!/snapper/configs/**
!/snapper/filters
!/snapper/filters/**

# SSH: Allow the configs to be shared
!/ssh
!/ssh/sshd_config
!/ssh/ssh_config

# STEAMOS-COMPOSITOR: Grab things
!/steamos-compositor-plus
!/steamos-compositor-plus/sbp*

# SUDOERS: Grab the sudoers files
!/sudoers.d
!/sudoers.d/sbp**

# SYSCTL: Grab everything
!/sysctl.d
!/sysctl.d/99-sbp**

# SWAY: Grab special things
!/sway
!/sway/config.d
!/sway/config.d/sbp*.conf

# SYSCONFIG: Grab rasdaemon things
!/sysconfig/rasdaemon
!/sysconfig/rasdaemon

# SYSCTL: Grab some overrides
!/sysctl.d
!/sysctl.d/sbp-*.conf

# SYSTEMD: Grab overrides, config files and custom units
!/systemd
!/systemd/network
!/systemd/network/*.service.d
!/systemd/network/*.service.d/sbp*.conf
!/systemd/network/*.timer.d
!/systemd/network/*.target.wants
!/systemd/network/**sbp*.conf
!/systemd/network/**sbp*.service
!/systemd/network/**sbp*.timer
!/systemd/system
!/systemd/system/*.service.d
!/systemd/system/*.service.d/sbp*.conf
!/systemd/system/*.timer.d
!/systemd/system/*.target.wants
!/systemd/system/**sbp*.conf
!/systemd/system/**sbp*.service
!/systemd/system/**sbp*.timer
!/systemd/user
!/systemd/user/*.service.d
!/systemd/user/*.service.d/sbp*.conf
!/systemd/user/*.timer.d
!/systemd/user/*.target.wants
!/systemd/user/**sbp*.conf
!/systemd/user/**sbp*.service
!/systemd/user/**sbp*.timer
!/systemd/user/*.service
!/systemd/*.conf
!/systemd/*.conf.d
!/systemd/*.conf.d/sbp*.conf
!/systemd/*/*.d/override.conf

# TLP: Get specific config
!/tlp.d
!/tlp.d/sbp*.conf
!/tlp.conf

# UDEV: Grab rules and config
!/udev
!/udev/hwdb.d
!/udev/hwdb.d/*sbp*.rules
!/udev/rules.d
!/udev/rules.d/*sbp*.rules
!/udev/udev.conf

# UDISKS: Grab config
!/udisks2
!/udisks2/udisks2.conf

# UNBOUND: Grab config
!/unbound
!/unbound/unbound.conf

# XDG: Grab some stuff
!/xdg
!/xdg/autorandr
!/xdg/autorandr/**
!/xdg/autostart
!/xdg/autostart/sbp*.desktop
!/xdg/reflector
!/xdg/reflector/reflector.conf
!/xdg/systemd
!/xdg/systemd/**
!/xdg/reflector
!/xdg/reflector/**
!/xdg/picom.conf
!/xdg/user-dirs.defaults

# ZSH: Grab every needed zthing
!/zsh
!/zsh/zshenv
!/zsh/zshrc
!/zsh/zprofile

# Single files
!/Readme.md
!/abcde.conf
!/gitconfig
!/locale.conf
!/locale.gen
!/logrotate.conf
!/makepkg.conf
!/nsswitch.conf
!/ntp.conf
!/pacman.conf
!/resolvconf.conf
!/snap-pac.conf
!/tlp.conf
!/vconsole.conf

# begin section managed by etckeeper (do not edit this section by hand)

# new and old versions of conffiles, stored by pacman
*.pacnew
*.pacorig
*.pacsave

# old versions of files
*.old

# mount(8) records system state here, no need to store these
blkid.tab
blkid.tab.old

# some other files in /etc that typically do not need to be tracked
nologin
ld.so.cache
prelink.cache
mtab
mtab.fuselock
.pwd.lock
*.LOCK
network/run
adjtime
udev/hwdb.bin
lvm/cache
lvm/archive
X11/xdm/authdir/authfiles/*
ntp.conf.dhcp
.initctl
webmin/fsdump/*.status
webmin/webmin/oscache
apparmor.d/cache/*
service/*/supervise/*
service/*/log/supervise/*
sv/*/supervise/*
sv/*/log/supervise/*
*.elc
*.pyc
*.pyo
init.d/.depend.*
openvpn/openvpn-status.log
cups/subscriptions.conf
cups/subscriptions.conf.O
fake-hwclock.data
check_mk/logwatch.state

# editor temp files
*~
.*.sw?
.sw?
\#*\#
DEADJOE

# end section managed by etckeeper
