# ETCKEEPER

# Do not track anything by default
/**
!/.gitignore
!/.etckeeper

# DISTRO-SPECIFIC
!/archlinux
!/archlinux/**
!/gentoo
!/gentoo/**

# X11: Get config overrides specific for sbp
!/X11
!/X11/xorg.conf.d
!/X11/xorg.conf.d/10-sbp**

# ABCDE: Get config
!/abcde.conf

# ACPI: Grab configuration
!/acpi
!/acpi/**

# AVAHI: Grab services
!/avahi
!/avahi/services
!/avahi/services/*

# BLUETOOTH: Grab config
!/bluetooth
!/bluetooth/**

# BUMBLEBEE: Grab config
!/bumblebee
!/bumblebee/bumblebee.conf*

# CONF.D: Grab most thing
!/conf.d
!/conf.d/consolefont
!/conf.d/fluidsynth
!/conf.d/keymaps
!/conf.d/snapper
!/conf.d/xdm
!/conf.d/reflector

# DEFAULT: Grab only some configs
!/default
!/default/grub.*
!/default/grub-btrfs
!/default/grub-btrfs/config
!/default/tlp.*

# DRACUT: Grab the dracut config
!/dracut.conf

# DHCPD: Grab config
!/dhcpd.conf

# ETCKEEPER: Grab everything but config
!/etckeeper
!/etckeeper/**
/etckeeper/local.conf

# FIREWALLD: Grab config for now
!/firewalld
!/firewalld/firewalld.conf

# FONTS: Grab overrides THAT I PUT
!/fonts
!/fonts/conf.avail
!/fonts/conf.avail/99-sbp**
!/fonts/conf.d
!/fonts/conf.d/99-sbp**

# FUSE: Grab config
!/fuse.conf

# GEOCLUE: Get config
!/geoclue
!/geoclue/**

# GRUB: Get the fixed linux config
!/grub.d
!/grub.d/10_linux

# IWD: Grab config
!/iwd
!/iwd/main.conf

# LIBVIRT: Grab the configurations
!/libvirt
!/libvirt/libvirt-admin.conf
!/libvirt/libvirt.conf
!/libvirt/libvirtd.conf
!/libvirt/qemu.conf
!/libvirt/virtlogd.conf

# LOCALE: Grab the files
!/locale*

# MAKEPKG: Grab config
!/makepkg.conf*

# MKINITCPIO: Grab the presets
!/mkinitcpio
!/mkinitcpio/**

# Network UPS Tools: Grab the config files
!/ups
!/ups/ups.conf
!/ups/upssched.conf
!/ups/upsmon.conf

# PROFILE: Grab all
!/profile
!/profile.d
!/profile.d/*.sh

# PACMAN: Grab config and user hooks
!/pacman.conf
!/pacman.d
!/pacman.d/hooks
!/pacman.d/hooks/90-sbp**

# POLKIT: Grab overrides
!/polkit
!/polkit/rules.d
!/polkit/rules.d/90-sbp**
!/polkit-1
!/polkit-1/rules.d
!/polkit-1/rules.d/90-sbp**

# PORTAGE: Grab all but the specific config file
!/portage
!/portage/**
/portage/local.conf

# PRIVATE-INTERNET-ACCESS: Grab only the config file, nothing else!
!/private-internet-access
!/private-internet-access/pia.conf
/private-internet-access/login.conf

# RESOLVCONF: Grab config
!/resolvconf.conf

# SBUPDATE: Grab config
!/sbupdate.conf

# SDDM: Grab theme
!/sddm.conf.d
!/sddm.conf.d/**

# SKEL: Grab skel
!/skel
!/skel/**

# SNAPPER: Use the same configs for all computers, and grab snap-pac as well
!/snapper
!/snapper/configs
!/snapper/configs/**
!/snapper/filters
!/snapper/filters/**
!/snap-pac.conf
!/snap-pac
!/snap-pac/**

# SSH: Allow the configs to be shared
!/ssh
!/sshd_config

# SUDOERS: Grab the sudoers files
!/sudoers.d
!/sudoers.d/sbp**

# SYSCTL: Grab everything
!/sysctl.d
!/sysctl.d/99-sbp**

# SYSTEMD: Grab overrides, and custom units
!/systemd
/systemd/**
!/systemd/logind.conf.d
!/systemd/logind.conf.d/sbp**
!/systemd/system.conf.d
!/systemd/system.conf.d/sbp**
!/systemd/user.conf.d
!/systemd/user.conf.d/sbp**
!/systemd/system
!/systemd/system/sbp*.service
!/systemd/system/*.d/
!/systemd/system/*.d/sbp**
!/systemd/user
!/systemd/user/*.service

# TIMEZONE: Grab it
!/timezone

# UDEV: Grab rules
!/udev
!/udev/rules.d
!/udev/rules.d/11-sbp**
!/udev/rules.d/90-sbp**

# UDISKS: Grab things
!/udisks2
!/udisks2/**

# UNBOUND: Grab config
!/unbound
!/unbound/unbound.conf*

# VCONSOLE: Grab config
!/vconsole.conf

# XDG: Grab some stuff
!/xdg
!/xdg/autorandr
!/xdg/autorandr/**
!/xdg/systemd
!/xdg/systemd/**

# ZSH: Grab every needed zthing
!/zsh
!/zsh/zshenv
!/zsh/zshrc
!/zsh/zprofile

# begin section managed by etckeeper (do not edit this section by hand)

# new and old versions of conffiles, stored by pacman
*.pacnew
*.pacorig
*.pacsave

# old versions of files
*.old

# mount(8) records system state here, no need to store these
blkid.tab
blkid.tab.old

# some other files in /etc that typically do not need to be tracked
nologin
ld.so.cache
prelink.cache
mtab
mtab.fuselock
.pwd.lock
*.LOCK
network/run
adjtime
lvm/cache
lvm/archive
X11/xdm/authdir/authfiles/*
ntp.conf.dhcp
.initctl
webmin/fsdump/*.status
webmin/webmin/oscache
apparmor.d/cache/*
service/*/supervise/*
service/*/log/supervise/*
sv/*/supervise/*
sv/*/log/supervise/*
*.elc
*.pyc
*.pyo
init.d/.depend.*
openvpn/openvpn-status.log
cups/subscriptions.conf
cups/subscriptions.conf.O
fake-hwclock.data
check_mk/logwatch.state

# editor temp files
*~
.*.sw?
.sw?
\#*\#
DEADJOE

# end section managed by etckeeper
