# ETCKEEPER

# Do not track anything by default
/**
!/.gitignore

# X11: Get config overrides
!/X11
!/X11/xorg.conf.d
!/X11/xorg.conf.d/10-sbp**

# ABCDE: Get config
!/abcde.conf

# ACPI: Grab things
!/acpi
!/acpi/**

# BLUETOOTH: Grab config
!/bluetooth
!/bluetooth/**

# BUMBLEBEE: Grab config
!/bumblebee
!/bumblebee/bumblebee.conf*

# CONF.D: Grab most thing
!/conf.d
!/conf.d/**

# DEFAULT: Grab grub config
!/default
!/default/grub

# DRACUT: Grab the dracut config
!/dracut.conf

# DHCPD: Grab config
!/dhcpd.conf

# ETCKEEPER: Grab everything
!/etckeeper
!/etckeeper/**
!/.etckeeper
!/.etckeeper/**

# FONTS: Grab overrides THAT I PUT
!/fonts
!/fonts/conf.avail
!/fonts/conf.avail/99-sbp**
!/fonts/conf.d
!/fonts/conf.d/99-sbp**

# GEOCLUE: Get config
!/geoclue
!/geoclue/**

# LIBVIRT: Grab all
!/libvirt
!/libvirt/**

# LOCALE: Grab the files
!/locale*

# MAKEPKG: Grab config
!/makepkg.conf*

# MKINITCPIO: Grab this
!/mkinitcpio.conf
!/mkinitcpio
!/mkinitcpio/**

# NFTABLES: Grab firewall example
!/nftables.conf.sbp

# PACMAN: Grab config and user hooks
!/pacman.conf
!/pacman.d
!/pacman.d/hooks
!/pacman.d/hooks/90-sbp**

# POLKIT: Grab overrides
!/polkit
!/polkit/rules.d
!/polkit/rules.d/90-sbp**
!/polkit-1
!/polkit-1/rules.d
!/polkit-1/rules.d/90-sbp**

# PORTAGE: Grab all but the specific config file
!/portage
!/portage/**
/portage/specific.conf

# RESOLVCONF: Grab config
!/resolvconf.conf

# SDDM: Grab theme
!/sddm.conf.d
!/sddm.conf.d/sbp**

# SKEL: Grab skel
!/skel
!/skel/**

# SNAPPER: Use the same config
!/snapper
!/snapper/configs
!/snapper/configs/**

# SUDOERS: Grab the sudoers files
!/sudoers.d
!/sudoers.d/sbp**

# SYSCTL: Grab everything
!/sysctl.d
!/sysctl.d/99-sbp**

# SYSTEMD: Grab overrides
!/systemd
!/systemd/logind.conf.d
!/systemd/logind.conf.d/sbp**
!/systemd/system.conf.d
!/systemd/system.conf.d/sbp**
!/systemd/system
!/systemd/system/*.service
!/systemd/system/*.timer
!/systemd/system/*.d
!/systemd/system/*.d/**

# UDEV: Grab rules
!/udev
!/udev/rules.d
!/udev/rules.d/11-sbp**
!/udev/rules.d/90-sbp**

# UDISKS: Grab things
!/udisks2
!/udisks2/**

# UNBOUND: Grab config
!/unbound
!/unbound/unbound.conf*

# VCONSOLE: Grab config
!/vconsole.conf

# ZSH: Grab environment
!/zsh
!/zsh/zshenv


# begin section managed by etckeeper (do not edit this section by hand)

# new and old versions of conffiles, stored by pacman
*.pacnew
*.pacorig
*.pacsave

# old versions of files
*.old

# mount(8) records system state here, no need to store these
blkid.tab
blkid.tab.old

# some other files in /etc that typically do not need to be tracked
nologin
ld.so.cache
prelink.cache
mtab
mtab.fuselock
.pwd.lock
*.LOCK
network/run
adjtime
lvm/cache
lvm/archive
X11/xdm/authdir/authfiles/*
ntp.conf.dhcp
.initctl
webmin/fsdump/*.status
webmin/webmin/oscache
apparmor.d/cache/*
service/*/supervise/*
service/*/log/supervise/*
sv/*/supervise/*
sv/*/log/supervise/*
*.elc
*.pyc
*.pyo
init.d/.depend.*
openvpn/openvpn-status.log
cups/subscriptions.conf
cups/subscriptions.conf.O
fake-hwclock.data
check_mk/logwatch.state

# editor temp files
*~
.*.sw?
.sw?
\#*\#
DEADJOE

# end section managed by etckeeper
