# SBP networking rules
# * I define custom names for network interfaces so that;
# --> They are stable and don't depend on loading order to get names assigned
# --> Firewalld configuration is based on network name; so I can share config
#   but retain granular control over computers.

# WORK
#   This one is the wired connection; and of main usage
SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="70:85:c2:dc:a9:4b", NAME="ethernet-work"
#   This one is the wireless card
SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="d0:c6:37:25:8a:55", NAME="wifi-work"

# LAPTOP 
#   Main interface is wifi; and only one that is available consistently
SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="0c:dd:24:1b:d5:d7", NAME="wifi-laptop"
#   This one is for an adapter on the USB-C port, seems like a stable MAC address
SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="00:e0:4c:68:02:39", NAME="ethernet-laptop"
#   Got these two MAC addresses when I do Android tethering. Doesn't seem stable
SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="82:da:d6:27:02:83", NAME="usbtether-laptop"
SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="86:a6:65:5c:38:68", NAME="usbtether-laptop"
