# Sway config for qtgreet
# vim:filetype=sway

# Run the greeter
exec "qtgreet ; swaymsg exit"

# Keybaard layout
input type:keyboard {
    # Keyboard
    xkb_layout          "us,tr,us"
    xkb_variant         "dvorak-alt-intl,f,altgr-intl"
    xkb_options         "grp:alt_caps_toggle"
}

# Exit command
bindsym Mod4+shift+e exec swaynag \
-t warning \
-m 'What do you want to do?' \
-b 'Poweroff' 'systemctl poweroff' \
-b 'Reboot' 'systemctl reboot'

# Regular sway includes
include /etc/sway/config.d/*

# Font
font pango:sans-serif 14px
