/* Managed by sbp-sys-base */

/* Bluteooth rules */
polkit.addRule(function(action, subject) {
    if ((action.id == "org.blueman.network.setup" ||
         action.id == "org.blueman.dhcp.client" ||
         action.id == "org.blueman.rfkill.setstate" ||
         action.id == "org.blueman.pppd.pppconnect" ||
         action.id == "org.manjaro.pamac.commit" ||
         action.id == "org.archlinux.pkexec.gparted" ||
         action.id == "org.libvirt.unix.manage" ) &&
        subject.isInGroup("wheel")) {

        return polkit.Result.YES;
    }
});

/* Virtualization rules */
polkit.addRule(function(action, subject) {
    if (action.id == "org.libvirt.unix.manage" && subject.isInGroup("kvm")) {
        return polkit.Result.YES;
    }
});
